MONGODB_URI = #YOUR DB MONGODB HERE

# UBAH TANGGAL COUNTDOWN
NEXT_PUBLIC_EVENT_DATE = 2026-07-03T00:00:00
NEXT_PUBLIC_COUPLE_NAMES = Paridhi & Mohit

#Groom
NEXT_PUBLIC_GROOM_NAME = Mohit Sankhala
NEXT_PUBLIC_GROOM_NICKNAME = Mohit
NEXT_PUBLIC_GROOM_INSTAGRAM = mohitsankhala7
NEXT_PUBLIC_GROOM_BIO = "Mohit is a passionate individual with a love for adventure and exploration."

#Bride
NEXT_PUBLIC_BRIDE_NAME = Paridhi Nahta
NEXT_PUBLIC_BRIDE_NICKNAME = Gullu 2.0
NEXT_PUBLIC_BRIDE_INSTAGRAM = _paridhi_2000
NEXT_PUBLIC_BRIDE_BIO = "Paridhi is a kind, ambivert individual with a warm and gentle nature."

#SLIDE
NEXT_PUBLIC_BIBLE_VERSE = A Blessing of Togetherness
NEXT_PUBLIC_BIBLE_VERSE_CONTENT = "Two are better than one, for they lift each other in every moment of life. Together, their love grows stronger each day."

#TIMELINE 
NEXT_PUBLIC_YEAR_1 = Our Wedding Celebrations
NEXT_PUBLIC_YEAR_1_CONTENT="Ganpati Sthapana – 7:00 AM  ||  Kalash Pujan – 8:30 AM  ||  Haldi Ceremony – 12:00 PM  ||  Barat Departure – 5:00 PM  ||  Shubh Lagn – 10:30 PM     || Dinner will follow at 5:00 PM"
NEXT_PUBLIC_YEAR_2 = Venue at Udaipur, Rajasthan.
NEXT_PUBLIC_YEAR_2_CONTENT="Join us in the beautiful City of Lakes"
NEXT_PUBLIC_YEAR_3 = We look forward to celebrating this special day with you.
NEXT_PUBLIC_YEAR_3_CONTENT="Join us for love, laughter, and happily ever after."



#Haldi Rasm
NEXT_PUBLIC_HOLY_MATRIMONY=true
NEXT_PUBLIC_HOLY_MATRIMONY_TIME = 12.00 - 02.00 PM
NEXT_PUBLIC_HOLY_MATRIMONY_PLACE = Mahapragya Vihar
NEXT_PUBLIC_HOLY_MATRIMONY_PLACE_DETAILS = Mahapragya Vihar, Behind Celebration Mall, Bhuwana, Udaipur, Rajasthan 313001
NEXT_PUBLIC_HOLY_MATRIMONY_GOOGLE_MAPS = https://maps.app.goo.gl/NPM2q2K9BSycbyyK8


#Barat Prasthan
NEXT_PUBLIC_WEDDING_RECEPTION=true
NEXT_PUBLIC_WEDDING_RECEPTION_TIME = 05.00 - 07.00 PM
NEXT_PUBLIC_WEDDING_RECEPTION_PLACE = Mahapragya Vihar
NEXT_PUBLIC_WEDDING_RECEPTION_PLACE_DETAILS = Mahapragya Vihar, Behind Celebration Mall, Bhuwana, Udaipur, Rajasthan 313001
NEXT_PUBLIC_WEDDING_RECEPTION_GOOGLE_MAPS = https://maps.app.goo.gl/NPM2q2K9BSycbyyK8


#LIVE STREAMING
NEXT_PUBLIC_LIVE_STREAMING=false
NEXT_PUBLIC_LIVE_STREAMING_TIME = 12.00
NEXT_PUBLIC_LIVE_STREAMING_DETAIL = Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
NEXT_PUBLIC_LIVE_STREAMING_LINK = https://www.youtube.com/watch?v=Q5J

#PREWEEDING_VIDEO
NEXT_PUBLIC_PREWEDDING=false
NEXT_PUBLIC_PREWEDDING_CODE_LINK_EMBED= YkO-e-gyp58
NEXT_PUBLIC_PREWEDDING_DETAIL = Every love story is beautiful, but ours is my favorite. Through the highs and lows, our love grows stronger and deeper with each passing day

#RSVP
NEXT_PUBLIC_RSVP=false
NEXT_PUBLIC_RSVP_DETAIL=  Kindly express your best wishes and kindly confirm your attendance by using the form provided below. Thank you.

#THANK YOU
NEXT_PUBLIC_THANKYOU = Thank You For Your attendance
NEXT_PUBLIC_THANKYOU_DETAIL = It is a pleasure and honor for us, if you are willing to attend and give us your blessing.